

header h1 a{
    color: red;
    text-decoration: none;
}
body {
    text-align: center;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 18px;
    background-color: rgb(11, 156, 60);
    
}

header {
    border-bottom: 1px solid #999;
    margin-bottom: 2rem;
    display: flex;
}

.nav-left {
    margin-right: auto;
}

.nav-right {
    display: flex;
    padding-top: 2rem;
}

.posts-entry {
    margin: 1.5rem auto;
    padding: 1rem;
    /* border-style: dashed; */
    /* border-width: 5px; */
    max-width: 40rem;
    background-color: skyblue;
}

post-entry h2{
    margin: 0.5rem 0;
}

.post-entry h2 a,
.post-entry h2 a:visited {
    color: blue;
    text-decoration: none;
}

.post-entry p {
    margin: 0;
    font-weight: 400;
}

.post-entry h2 a:hover {
    color: red;
}

.logo {
    height: 10rem;
    width: 15rem;
}