<!DOCTYPE html>
{% extends 'base.html' %}

{% block content %}

  {% for posts in object_list %}
    <div class="posts-entry">
        <h2><a href="{% url 'post_detail' posts.pk %}">{{ posts.title }}</a></h2>
        <p>{{ posts.body }}</p>
    </div>
   {% endfor %}
{% endblock content %}

{% block content %}
{% if user.is_authenticated %}
<p>Hi {{ user.username }}!</p>
<p><a href="{% url 'logout' %}">Log Out</a></p>
{% else %}
<p>You are not logged in.</p>
<a href="{% url 'login' %}">Log In</a>
<a href="{% url 'login' %}">Sign Up</a>
{% endif %}
    
    {% endblock content %}