<!DOCTYPE html>
{% extends 'base.html' %}

{% block content %}
<div class="posts-entry">
    <h2>{{ posts.title }}</h2>
    {% if posts.post_image %}
    <img height="400" width="500" src="{{ posts.post_image.url }}">
    {% endif %}
    <p>{{ posts.body }}</p>
    <p>{{ posts.author }}</p>
    <a href="{% url 'post_edit' posts.pk %}">+ Edit Blog Post</a>
    <p><a href="{% url 'post_delete' posts.pk %}">+ Delete Blog Post</a></p>
    <div class="card">
            <img height="100" width="100" class="card-image-top" src="{{ posts.author.profile.profile_pic.url}}">
        <div class="card-body">
    <p>{{ posts.author.profile.bio }}</p>
    </div>
    
    </div>
    <h2>Comments...</h2>
    <div class="">
    {% if not posts.comments.all %}
      <a href="#">
            Add One
        </a>
        {% else %}
            {% for comment in posts.comments.all %}
                    <strong>{{ comment.name }}</strong>
                    <p>{{ comment.body }}</p>
            {% endfor %}        
        {% endif %}
    </div>

</div>

<a href="{% url 'post_edit' posts.pk %}">+ Edit Blog Post</a>
<p><a href="{% url 'post_delete' posts.pk %}">+ Delete Blog Post</a></p>


{% endblock content %}